<nav class="navbar">
    <ul>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/dashboard" routerLinkActive="active">Stuednt Dashboard</a></li>
       <li><a routerLink="/file-upload" routerLinkActive="active">File Upload</a></li>
      <!--<li><a routerLink="/business" routerLinkActive="active">Business</a></li>
      <li><a routerLink="/innovation" routerLinkActive="active">Innovation</a></li>
      <li><a routerLink="/culture" routerLinkActive="active">Culture</a></li>
      <li><a routerLink="/travel" routerLinkActive="active">Travel</a></li>
      <li><a routerLink="/earth" routerLinkActive="active">Earth</a></li>
      <li><a routerLink="/video" routerLinkActive="active">Video</a></li>
      <li><a routerLink="/live" routerLinkActive="active">Live</a></li> -->
    </ul>
  </nav>